<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1"/>
<title>Brands</title>
</head>

<body>
<div th:fragment="foot">
				<div id="footer">

					<div class="left">
						<a href="#">Home</a>
						<span>|</span>
						<a href="#">Support</a>
						<span>|</span>
						<a href="#">My Account</a>
						<span>|</span>
						<a href="#">The Store</a>
						<span>|</span>
						<a href="#">Contact</a>
					</div>
					<div class="right">
						&copy; UrbanGear.com by Mocofanescu Cristian
					</div>
				</div>
</div>
</body>
</html>