<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1" />
<title>Add Product</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<!--[if lte IE 6]>
		<script src="../js/html5shiv.min.js"></script>
		<script src="../js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div th:if="${product}">
		<h1>Edit Product:</h1>
		<form th:action="@{'/admin/update-product/id='+${product.id}}" method="POST"
			enctype="multipart/form-data" th:object="${product}"
			align="center">
			<div class="form-group">
				<label for="name">Product Name</label>
				<p>
					<input type="text" th:value="${product.name}" name="name" />
				</p>
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			</div>
			<div class="form-group">
				<label for="manufacturer">Manufacturer</label>
				<p>
					<input type="text" th:value="${product.manufacturer}" name="manufacturer" />
				</p>
			</div>
						<div class="form-group">
				<label for="sizeList">Shoe Size</label>
				<p>
					<input type="text" th:value="${product.sizeList}" name="sizeList" />
				</p>
			</div>
			<div class="form-group">
				<label for="details">Product Details</label>
				<p>
					<input type="text" th:value="${product.details}" name="details" />
				</p>
			</div>
			<div class="form-group">
				<label for="price">Price</label>
				<p>
					<input type="text" th:value="${product.price}" name="price" />
				</p>
				<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
			</div>
			<div class="form-group">
				<label>Total Count</label>
				<p>
					<input type="text" th:value="${product.totalCount}" name="totalCount" />
				</p>
				<p th:if="${#fields.hasErrors('totalCount')}"
					th:errors="*{totalCount}"></p>
			</div>
			<p>Category</p>
			<select name="categoryId">
				<option th:each="category : ${categories}" th:value="${category.id}"
					th:text="${category.name}"></option>
			</select>
			<div class="form-group">
				<label for="thumbnails">Thumbnails</label>
				<p align="center">
					<input type="file" name="thumbnailFile"/>
				</p>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<p>
				<button type="submit">Save</button>
			</p>
		</form>
	</div>
	<div th:if="${product} == null">
		<h1>Add Product:</h1>
		<form th:action="@{/admin/add-product}" method="POST"
			enctype="multipart/form-data" th:object="${productForm}"
			align="center">
			<div class="form-group">
				<label for="name">Product Name</label>
				<p>
					<input type="text" name="name" />
				</p>
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			</div>
			<div class="form-group">
				<label for="manufacturer">Manufacturer</label>
				<p>
					<input type="text" name="manufacturer" />
				</p>
			</div>
								<div class="form-group">
				<label for="sizeList">Shoe Size</label>
				<p>
					<input type="text" name="sizeList" />
				</p>
			</div>
			<div class="form-group">
				<label for="details">Product Details</label>
				<p>
					<input type="text" name="details" />
				</p>
			</div>
			<div class="form-group">
				<label for="price">Price</label>
				<p>
					<input type="text" name="price" />
				</p>
				<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
			</div>
			<div class="form-group">
				<label>Total Count</label>
				<p>
					<input type="text" name="totalCount" />
				</p>
				<p th:if="${#fields.hasErrors('totalCount')}"
					th:errors="*{totalCount}"></p>
			</div>
			<p>Category</p>
			<select name="categoryId">
				<option th:each="category : ${categories}" th:value="${category.id}"
					th:text="${category.name}"></option>
			</select>
			<div class="form-group">
				<label for="thumbnails">Thumbnails</label>
				<p align="center">
					<input type="file" name="thumbnailFile" />
				</p>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<p>
				<button type="submit">Add Product</button>
			</p>
		</form>
	</div>
	<p align="center">
	<a href="/admin/view-products">Go Back</a>
	</p>
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>