<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1" />

<title>Insert title here</title>
<link href="css/bootstrap.min.css" rel="stylesheet"/>	
		<!--[if lte IE 6]>
		<script src="static/js/html5shiv.min.js"></script>
		<script src="static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<h1 align="center">List of products</h1>
	<div class="table-responsive">
		<table class="table table-striped table-bordered text-left">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Price</th>
					<th>Total Count</th>
					<th>Details</th>
					<th>Category</th>
				</tr>
			</thead>
			<tr th:each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.price} + ' RON'"></td>
				<td th:text="${product.totalCount}"></td>
				<td th:text="${product.details}"></td>
				<td th:text="${product.category.name}"></td>
			</tr>
		</table>
	</div>
	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>