<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1" />
<title>Registration</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!--[if lte IE 6]>
		<script src="static/js/html5shiv.min.js"></script>
		<script src="static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<h1>Welcome! Please enter your information in the form below.</h1>
	<form th:action="@{/registration}" method="POST"
		th:object="${userForm}">
		<p>Choose Username (3-16 characters long):</p>

		<table>
			<tr>
				<td><input type="text" name="username" /></td>
				<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
					style="color: #FF0000">Name Error</td>
			</tr>
		</table>

		<p>Password:</p>

		<table>
			<tr>
				<td><input type="password" name="password" /></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
					style="color: #FF0000">Name Error</td>
			</tr>
		</table>

		<p>Confirm Password:</p>
		<p>
			<input type="password" name="passwordConfirm" />
		</p>
		<p>Enter your First Name:</p>

		<table>
			<tr>
				<td><input type="text" name="firstName" /></td>
				<td th:if="${#fields.hasErrors('firstName')}"
					th:errors="*{firstName}" style="color: #FF0000">Name Error</td>
			</tr>
		</table>

		<p>Enter your Last Name:</p>
		<table>
			<tr>
				<td><input type="text" name="lastName" /></td>
				<td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
					style="color: #FF0000">Name Error</td>
			</tr>
		</table>

		<p>Enter your Email Address:</p>
		<table>
			<tr>
				<td><input type="text" name="emailAddress" /></td>
				<td th:if="${#fields.hasErrors('emailAddress')}"
					th:errors="*{emailAddress}" style="color: #FF0000">Name Error</td>
			</tr>
		</table>

		<p>Enter your Telephone Number:</p>
		<table>
			<tr>
				<td><input type="text" name="telephoneNumber" /></td>
				<td th:if="${#fields.hasErrors('telephoneNumber')}"
					th:errors="*{telephoneNumber}" style="color: #FF0000">Name
					Error</td>
			</tr>
		</table>
		

		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
		<p>
			<button type="submit">Register</button>
		</p>
	</form>
		<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>