<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1" />
<title>Users Page</title>
</head>
<body>

	<h1 align="center">List of users</h1>
	<table align="center">
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Telephone</th>
				<th>Username</th>
				<th>Password</th>
			</tr>
		</thead>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.firstName}"></td>
				<td th:text="${user.lastName}"></td>
				<td th:text="${user.emailAddress}"></td>
				<td th:text="${user.telephoneNumber}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.password}"></td>
			</tr>
	</table>
</body>
</html>